# fly.toml app configuration file generated for nursecal on 2026-01-28T12:44:07+10:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nursecal'
primary_region = 'syd'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 3123
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = "sqlite"
  destination = "/app/data"
